<div class="container">

	<div class="row-fluid">

		<div class="span4">
		</div>

		<div class="span4">
									
			<%= image_tag "icons/factory.svg", :alt=>"Factory", :size=>"70x70" %>

			<h2>Sign up</h2>

			<% resource.build_account %>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  	<%= f.fields_for :account do |ff| %>

			  		<div><%= ff.text_field :name, :placeholder => 'Account name' %></div>

			  	<% end %>

				  <div><%= f.email_field :email, :placeholder => "Email" %></div>
				  
				  <div><%= f.password_field :password, :placeholder => "Password" %></div>
				  
				  <div><%= f.password_field :password_confirmation, :placeholder => "Confirm password" %></div>

			  <div><%= f.submit "Sign up" %></div>
			<% end %>

			<%= render "links" %>
							
		</div>

		<div class="span4">
		</div>

	</div>
</div>