
<h4>Specifications for <%= @item.code %></h4>

<%= render 'relationship' %>

<table class="data">
	<thead>
		<th>Category</th>
		<th>Spec</th>
		<th>Text</th>
		<th>Multi-Line Text</th>
		<th>Value</th>
		<th>USL</th>
		<th>LSL</th>
		<th>UOM</th>
		<th>Document</th>
		<th>URL</th>
		<th>Doc Ver</th>
		<th>Test</th>
		<th>Eff Dt</th>
		<th>Ver</th>
		<th>Status</th>
		<th>Edited By</th>
		<th></th>
	</thead>
	<tbody>
		<% @item_specs.each do |is| %>
		
			<% if @history == true && is.date_status == 'past' %>											
				<%= render :partial => 'table', :locals => { :is => is }  %>				
			<% end %>	
		
			<% if @future == true && is.date_status == "future" %>							
				<%= render :partial => 'table', :locals => { :is => is }  %>				
			<% end %>
				
			<% if is.date_status == "current" %>					
				<%= render :partial => 'table', :locals => { :is => is }  %>
			<% end %>
		
		<% end %>
	</tbody>
</table>
	
	
