
<span class="search_field">Item <%= collection_select :item_spec, :code, @items, :id, :code %></span>
<span class="search_field">Category <%= collection_select :spec, :category, @categories, :category, :category %></span>

<%= form_for @item do |item| %>
	<% @specs.each do |spec| %>
		<%= check_box_tag :spec_ids, spec.id, item.specs.incude?(spec), :name => 'spec[item_ids][]' %>
	<% end %>
	<%= submit_tag %>
<% end %>