<% content_for :edit_form do %>


  <%= form_for @import, :html=>{:multipart=>true} do |f| %>

  <div class="row-fluid" style="padding:20px 0 0 0;">  	
    <%= f.label 'upload file' do %>
    	Select File: <%= file_field_tag :file %>
    <% end %>
  </div>
 	
 	<div class="row-fluid" style="padding:20px 0 0 0;">  	    
    <%= f.label 'import into' do %>
    	Import into <%= f.select :model, Import::MODELS.sort, :selected => @model, :include_blank => '--- Select Table ---' %>
    <% end %>
  </div>

  <div class="row-fluid" style="padding:20px 0 0 0;">  	
    <%= submit_tag 'Continue', :name => 'import_file', :class => "btn" %>	    
    <%= submit_tag 'Cancel', :name => 'import_file', :class => "btn", :style => "margin-left:2em;" %>
  </div>

  <% end %>
<% end %> 

  