
	<%= form_for(@spec) do |f| %>
			<div class="form">
				<div>
					<td><%= f.text_field :category, :class => 'text_field' %></td>
					<td><%= f.text_field :code, :class => 'text_field' %></td>
					<td><%= f.text_field :name, :class => 'text_field' %></td>
					<td><%= f.check_box :usl %></td>
					<td><%= f.check_box :lsl %></td>
					<td><%= f.text_field :label, :class => 'text_field' %></td>
					<td><%= f.number_field :display_order, :class => 'number_field_short' %></td>
					<td><%= f.submit "Add Definition" %></td>
				</div>
			</div>
		<% end %>		
