<% content_for :thead do %>
	<tr>
		<th style="width: 20%">Category</th>
		<th style="width: 20%">Definition Code</th>
		<th style="width: 20%">Definition Name</th>
		<th style="width: 20%">Label</th>
		<th style="width: 10%" class="centered">Default Order</th>
		<th style="width: 10%"></th>
	</tr>
<% end %>
		
<% content_for :table do %>
	<tr>
		<%= render 'new' %>
	</tr>

	<% @specs.each do |s| %>
		<tr>
			<td><%= s.category_id && !s.category.deleted ? s.category.name : nil %></td>
			<td><%= s.code %></td>
			<td><%= s.name %></td>
			<td><%= s.label %></td>
			<td class="centered"><%= s.display_order %></td>
			<td class="centered"><%= link_to "Edit", edit_spec_path(s) %>
					<%= link_to "Delete", spec_path(s), :method => :delete, :confirm => "Are you sure?" %>
			</td>
		</tr>
	<% end %>
<% end %>