<% content_for :thead do %>
	<th>Category</th>
	<th>Definition Code</th>
	<th>Definition Name</th>
	<th>Label</th>
	<th>Default Order</th>
	<th></th>
<% end %>
		
<% content_for :table do %>
	<tr>
		<%= render 'new' %>
	</tr>

	<% @specs.each do |s| %>
		<tr>
			<td><%= s.category_id ? s.category.name : nil %></td>
			<td><%= s.code %></td>
			<td><%= s.name %></td>
			<td><%= s.label %></td>
			<td><%= s.display_order %></td>
			<td><%= link_to "Edit", edit_spec_path(s) %>
					<%= link_to "Delete", spec_path(s), :method => :delete, :confirm => "Are you sure?", :style => "padding-right:0;" %>
			</td>
		</tr>
	<% end %>
<% end %>