<%= render "header" %>

<div id="display-box">
	
	<table class="table table-bordered" id="display-table">
		<thead id="display-header">
			<tr>
				<th>Category</th>
				<th class="spec-header">Lower Limit</th>
				<th style="text-align:center;">Target</th>
				<th class="spec-header" style="text-align:right;">Upper Limit</th>
				<th style="text-align:center;">Notes</th>
			</tr>
		</thead>
		<% if @categories %>
			<% @categories.each do |category, item_specs| %>
				<tbody>
					<tr>
						<th colspan="5" class="category-header">
							<%= category.name if category %>
						</th>
					</tr>
				</tbody>
				<tbody>			
					<% i = 0 %>	
					<% for s in item_specs %>	
						<% if s.date_status == "current" %>
							<tr>
								<td class="spec-name"><%= s.spec.name %></td>

								<td class="spec-limit">
									<% if s.lsl %>
										<%= s.lsl %>								
									<% end %>
								</td>

								<td class="spec-value" style="text-align:center;">
									<% if s.numeric_value %>								
										<%= "#{s.numeric_value} #{s.unit_of_measure}" %>
									<% end %>
																
									<% if !s.string_value.blank? %>								
										<%= s.string_value %>								
									<% end %>
								</td>

								<td class="spec-limit" style="text-align:right;">
									<% if s.usl %>								
										<%= s.usl %>								
									<% end %>
								</td>

								<td class="right-margin"></td>

								<% i==0 ? i=1 : i=0 %>		
							</tr>										
						<% end %>	
					<% end %>
				</tbody>
			<% end %>
		<% end %>
	</table> <!--! end of table -->
	
</div>
