
	<div class="display-box">
		<%= form_tag('display', :method => :get) do %>		
			<div class="display-title-box">
				<span class="display-title-label">Specifications for</span>
				<%= collection_select :item, :id, @items, :id, :code, {:selected => @item.id}, {:onchange => "this.form.submit();", :class => "display-item-select"} %>
			</div>
		<% end %>
		<div class="display-body-box">
		<% @categories.each do |category, item_specs| %>
			<div class="display-section-box">
				<div class="display-category-box">
					<div class="display-category"><%= category.name %></div>
				</div>
				<br />
				<% i = 0 %>
				<% for s in item_specs %>
					<% if s.date_status == "current" %>
						<div class="display-body-box-<%= i %>">
							<div class="display-column-1">
								<div id="display-body-spec-name"><%= s.spec.name %></div>
							</div>
							<div class="display-column-2">
								<% if s.lsl %>
									<p id="display-body-label">LSL: </p>
									<p id="display-body-sl"><%= s.lsl %></p>								
								<% end %>								
							</div>
							<div class="display-column-3">
								<% if s.numeric_value %>								
										<span class="display-body-value"><%= "#{s.numeric_value} #{s.unit_of_measure}" %></span>								
								<% end %>
								<% if !s.string_value.blank? %>								
										<span class="display-body-string"><%= s.string_value %></span>								
								<% end %>
							</div>
							<div class="display-column-4">
								<% if s.usl %>								
										<span id="display-body-sl">USL: <%= s.usl %></span>								
								<% end %>
							</div>
						</div>
						<% i==0 ? i=1 : i=0 %>	
						<br />	
					<% end %>			
				<% end %>
			</div>
		<% end %>
		</div>
		<div class="display-footer-box">
		</div>
	</div>
