<% content_for :edit_form do %>

	<%= form_for @item do |f| %>
		
		<%= f.label :name, "Code", :class => "field_label" %>
		<%= f.text_field :code, :class => "text_field" %>
		
		<%= f.label :name, "Name", :class => "field_label" %>
		<%= f.text_field :name, :class => "text_field" %>
	
		<div>
			<%= f.submit "Update" %>
			<%= f.submit "Cancel" %>
		</div>	

	<% end %>
		
<% end %>