<h4>Edit Item <%= @item.code %></h4>

<%= form_for @item do |f| %>
	<div class="form">
		<div class="field">
			<%= f.label :name, "Code", :class => "field_label" %>
			<%= f.text_field :code, :class => "text_field" %>
		</div>

		<div class="field">
			<%= f.label :name, "Name", :class => "field_label" %>
			<%= f.text_field :name, :class => "text_field" %>
		</div>
		<br></br>

		<div class="actions">
			<%= f.submit "Update" %><%= f.submit "Cancel" %>
		</div>
	</div>

<% end %>