<% content_for :thead do %>
	<tr>
		<th style="width: 40%">Item Code</th>
		<th style="width: 40%">Name</th>
		<th style="width: 20%"></th>
	</tr>
<% end %>

<% content_for :table do %>
	<%= render 'new' %>
	<% @items.each do |i| %>
		<tr>
			<td><%= i.code %></td>
			<td><%= i.name %></td>
			<td class="centered"><%= link_to "Edit", edit_item_path(i), :class => 'link' %>
					<%= link_to "Delete", item_path(i), :method => :delete, :confirm => "Are you sure?" %></td>
		</tr>
	<% end %>
<% end %>