
<div class="span5">
	<div class="row-fluid">	
		<h4 class="title">Items</h4>
		<%= will_paginate @items, :renderer => BootstrapPagination::Rails %>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<th>Item Code</th>
			<th>Name</th>
			<th></th>
		</thead>
		<tbody>
			<%= render 'new' %>
			<% @items.each do |i| %>
			<tr>
				<td><%= i.code %></td>
				<td><%= i.name %></td>
				<td><%= link_to "Edit", edit_item_path(i), :class => 'link' %>
						<%= link_to "Delete", item_path(i), :method => :delete, :confirm => "Are you sure?" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @items, :renderer => BootstrapPagination::Rails %>
</div>

