
<%= form_for @category do |f| %>
	<div class="form">
		<div>
			<td><%= f.text_field :code %></td>
			<td><%= f.text_field :name %></td>
			<td><%= f.number_field :display_order %></td>
			<td><%= f.submit "Add Category" %></td>
		</div>
	</div>
<% end %>