<% content_for :edit_form do %>
	<%= form_for @category do |f| %>
		<%= f.label :code %>
		<%= f.text_field :code %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :display_order %>
		<%= f.text_field :display_order %>
		<div>
			<%= f.submit %>
			<%= f.submit "Cancel" %>
		</div>
	<% end %>
<% end %>
