<% content_for :thead do %>
	<tr>
		<th style="width: 30%">Code</th>
		<th style="width: 30%">Name</th>
		<th style="width: 15%" class="centered">Display Order</th>
		<th style="width: 25%"></th>
	</tr>
<% end %>


<% content_for :table do %>

	<tr>
		<%= render 'new' %>
	</tr>	

	<% @categories.each do |c| %>
		<tr>
			<td><%= c.code %></td>
			<td><%= c.name %></td>
			<td style="max-width:50px" class="centered"><%= c.display_order %></td>
			<td>
				<ul class="breadcrumb centered">
					<li><%= link_to "Edit", edit_category_path(c) %></li>
					<li><%= link_to "Delete",  c, :method => :delete, :confirm => "Are you sure?" %></li>
				</ul>
			</td>
		</tr>
	<% end %>	
		
<% end %>					
