<header class="page-header">
	<div class="gradient">
		<div class="flash">
			<% flash.each do |key, value| %>
				<div class="<%= key %>"> <%= value %></div>
			<% end %>
		</div>		
		<nav>
			<div class="user_nav">
				<ul>
					<% if user_signed_in? %>
						<li><%= current_user.email %></li>
						<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></li>
					<% end %>
				</ul>
			</div>
			<div class="right_nav">
				<ul>
					<li><%= link_to "Floor Display", display_items_path(:item_id => @item.id ) %></li>
					
						<li><%= link_to "Items", items_path %></li>
						<li><%= link_to "Spec Definitions", specs_path %></li>
						<li><%= link_to "Item Specifications", item_specs_path %></li>
						<li><%= link_to "Categories", categories_path %></li>
						<li><%= link_to "Tests", tests_path %></li>
						<li><%= link_to "Import Data", new_import_path %></li>
					
				</ul>
			</div>
		</nav>
	</div>
</header>