<header class="page-header">
	<div class="gradient">
		<div class="flash">
			<% flash.each do |key, value| %>
				<div class="<%= key %>"> <%= value %></div>
			<% end %>
		</div>
		<nav>
			<ul>
				<li><%= link_to "Floor Display", display_items_path(:item_id => @item.id) %></li>
				<li><%= link_to "Items", items_path %></li>
				<li><%= link_to "Spec Definitions", specs_path %></li>
				<li><%= link_to "Item Specifications", item_specs_path %></li>
				<li><%= link_to "Categories", categories_path %></li>
				<li><%= link_to "Tests", tests_path %></li>
			</ul>
		</nav>
	</div>
</header>