<div class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
	
		<ul class="nav pull-left">				
			<li><%= image_tag "icons/factory_white.svg", :alt=>"Factory", :size=>"44x40", :id=>"factory" %></li>
			<li><%= link_to current_user.email %></li>
			<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>						
		</ul>

		
		<div class="span4 offset2">
			<%= render 'layouts/messages_layout' %>
		</div>
		

		<ul class="nav pull-right">
			<li><%= link_to "Floor Display", display_items_path(:item_id => @item_id ) %></li>		
			<li><%= link_to "Items", items_path %></li>
			<li><%= link_to "Spec Definitions", specs_path %></li>
			<li><%= link_to "Item Specifications", item_specs_path %></li>
			<li><%= link_to "Categories", categories_path %></li>
			<li><%= link_to "Tests", tests_path %></li>
			<li><%= link_to "Import Data", new_import_path %></li>			
		</ul>	
		
	</nav>
</div>