<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="page_header">
		<%= render 'layouts/header' %>
	</div>
	
	<div class="page_body">
		
		<%= yield :left %>
		<%= yield %>

	</div>

</body>
</html>
