<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title><%= @title %></title>
	  <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<% if user_signed_in? %>
		<body>
			<div class="content" id="<%= @content_id %>">

				<% if !@no_header %>					
			    <%= render 'layouts/header_layout' %>			    
		    <% end %>

				<div id="main" role="main">					
					<div class="container-fluid">
	        	<div class="row-fluid">
	        			        		
					   	<%= render :partial => 'layouts/index_layout', :object => @index, :as => :index if @is_index_table %>
					    					    
					    <%= render :partial => 'layouts/edit_layout' if @is_edit_form %>
					           	
	          	<%= yield %>
	          </div>
	        </div> <!--! end of .container --> 	       
	    	</div> <!--! end of #main -->		
			</div> <!--! end of content -->
		</body>

	<% else %>
		<body id="welcome">
			<div class="content">							
				<%= yield %>
			</div>	
		</body>			
	<% end %>

</html>
