<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title><%= @title %></title>
	  <%= stylesheet_link_tag    "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>

	<% if user_signed_in? %>
		<body>
			<div class="content">

				<% if !@no_header %>					
			    <%= render 'layouts/header' %>
			    
		    <% end %>


				<div id="main" role="main">
					
					<div class="container-fluid">
						
	        	<div class="row-fluid">
	        		
	        		<% if !true %>
	        			<%= yield :left %>
	        		<% end %>	 

					    <% if @is_index_table == true %>
					    	<%= render :partial => 'layouts/index', :object => @index %>
					    <% end %>

					    <% if @is_edit_form == true %>
					    	<%= render :partial => 'layouts/edit' %>
					    <% end %>
       	
	          	<%= yield %>
	          </div>
	        </div> <!--! end of .container --> 	       
	    	</div> <!--! end of #main -->		
			</div> <!--! end of content -->
		</body>

	<% else %>
		<body id="welcome">
			<div class="content">							
				<%= yield %>
			</div>	
		</body>			
	<% end %>

</html>
